{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Создание рецензии для "{{ book.title }}"</h2>
    <form action="{{ url_for('add_review', book_id=book.id) }}" method="POST">
        <div class="form-group">
            <label for="mark">Оценка</label>
            <select class="form-control" id="mark" name="mark">
                <option value="5">5 – отлично</option>
                <option value="4">4 – хорошо</option>
                <option value="3">3 – удовлетворительно</option>
                <option value="2">2 – неудовлетворительно</option>
                <option value="1">1 – плохо</option>
                <option value="0">0 – ужасно</option>
            </select>
        </div>
        <div class="form-group">
            <label for="body_text">Текст рецензии</label>
            <textarea class="form-control" id="body_text" name="body_text"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
<script>
    const easyMDE = new EasyMDE({element: document.getElementById('body_text')});
</script>
{% endblock %}