{% extends "base.html" %}
{% block content %}
 <div class="container mt-5">
        <h1>Список книг</h1>
        <div class="list-group">
    {% for book in books %}
        <div class="list-group-item list-group-item-action book-item d-flex align-items-start" id="{{ book.id }}">
            <img src="{{ book.cover }}" alt="{{ book.title }}" class="book-image mr-3">
            <div class="book-info">
                <h5 class="mb-1">{{ book.title }}</h5>
                <p class="mb-1">
                    <strong>Жанр(ы):</strong> {{ book.genres }}<br>
                    <strong>Год:</strong> {{ book.year_publish }}<br>
                    <strong>Средняя оценка:</strong> {{ book.average_mark if book.review_count else 'Нет оценок' }}<br>
                    <strong>Количество рецензий:</strong> {{ book.review_count if book.review_count else '0' }}<br>
                </p>
            </div>
            <div class="btn-group ml-auto" role="group" aria-label="Book Actions">
                <a href="{{ url_for('view_book', book_id=book.id) }}" class="btn btn-primary">Просмотр</a>
                {% if is_admin() or is_moderator() %}
                <a href="{{ url_for('edit_book', book_id=book.id) }}" class="btn btn-warning">Редактирование</a>
                {% endif %}
                {% if is_admin() %}
                <button class="btn btn-danger" onclick="confirmDelete({{ book.id }}, '{{ book.title }}')">Удалить</button>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
        {% if is_admin() %}
            <div class="add-button">
                <a href="{{ url_for('add_book') }}" class="btn btn-success">Добавить книгу</a>
            </div>
        {% endif %}
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('index', page=page-1) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% for p in range(1, count_pages + 1) %}
                    <li class="page-item {% if p == page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('index', page=p) }}">{{ p }}</a>
                    </li>
                {% endfor %}
                {% if page < count_pages %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('index', page=page+1) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
 </div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Удаление книги</h5>

            </div>
            <div class="modal-body">
                <p id="deleteMessage"></p>
            </div>
            <div class="modal-footer">
                <form id="deleteForm" method="POST">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                    <button type="submit" class="btn btn-danger">Да</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function confirmDelete(bookId, bookTitle) {
        var deleteForm = document.getElementById('deleteForm');
        deleteForm.action = '/book/delete/' + bookId;
        var deleteMessage = document.getElementById('deleteMessage');
        deleteMessage.textContent = 'Вы уверены, что хотите удалить книгу "' + bookTitle + '"?';
        $('#deleteModal').modal('show');
    }
</script>
{% endblock %}